body {
  height: 100vh;
  width: 80vw;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  overflow: hidden;
  h1 {
    position: absolute;
    top: 20vh;
    align-self: flex-start;
    font-size: 5em;
    font-family: 'Nunito', sans-serif;
    color: rgb(13, 74, 155);
  }
}

.keys { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  width: 80vw;
  background-color: aqua;
  border-radius: 20px;
  background: linear-gradient(45deg, rgba(152, 152, 152, 0.07) 0%, rgba(152, 152, 152, 0.07) 48%,rgba(136, 136, 136, 0.07) 48%, rgba(136, 136, 136, 0.07) 100%),linear-gradient(45deg, rgba(235, 235, 235, 0.06) 0%, rgba(235, 235, 235, 0.06) 79%,rgba(218, 218, 218, 0.06) 79%, rgba(218, 218, 218, 0.06) 100%),linear-gradient(135deg, rgba(12, 12, 12, 0.04) 0%, rgba(12, 12, 12, 0.04) 30%,rgba(79, 79, 79, 0.04) 30%, rgba(79, 79, 79, 0.04) 100%),linear-gradient(45deg, rgba(173, 173, 173, 0.03) 0%, rgba(173, 173, 173, 0.03) 66%,rgba(245, 245, 245, 0.03) 66%, rgba(245, 245, 245, 0.03) 100%),linear-gradient(135deg, rgba(84, 84, 84, 0.06) 0%, rgba(84, 84, 84, 0.06) 51%,rgba(165, 165, 165, 0.06) 51%, rgba(165, 165, 165, 0.06) 100%),linear-gradient(45deg, rgba(15, 15, 15, 0.02) 0%, rgba(15, 15, 15, 0.02) 14%,rgba(95, 95, 95, 0.02) 14%, rgba(95, 95, 95, 0.02) 100%),linear-gradient(0deg, rgba(34, 34, 34, 0.05) 0%, rgba(34, 34, 34, 0.05) 58%,rgba(98, 98, 98, 0.05) 58%, rgba(98, 98, 98, 0.05) 100%),linear-gradient(90deg, rgb(2, 110, 165),rgb(50, 216, 218));

  kbd {
    font-size: 3em;
    font-family: 'Nunito', sans-serif;
    color: #f3f3f3;
  }
  span {
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    color: #f3f3f3;
  }
  .key {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 10vh;
    border: 5px solid;
    border-radius: 10px;
    transition: all 0.1s;
    border-color: #f3f3f3;
    justify-content: center;
    align-items: center;
  }
  .playing {
    transform: scale(1.2);
    // border-color:  rgb(11, 111, 241);
  }
}